 
    <div class="carta-container">

      
  
  <div class="carta-container__fondo"></div>
        <div class="burger-container">
            <button class="btnTo-menu" style="color:red;background-color:blue;"></button>
            <img class="burger-container__imagen" src={{imagen}} alt="">
            <div class="contador-pedidos">
                <div class="contador-pedidos__resta"> - </div>
                <div class="contador-pedidos__numero"> 1 </div>
                <div class="contador-pedidos__suma"> + </div>
            </div>

            <div class="burger-header">
                <!--mejor si estan en un plex padre, dos flex pegados por margen negativo huele feo-->
                <div class="burger-header__titulo">{{nombre}}</div>
                <div class="burger-header__menu">
                    <div class="burger-header__descripcion">{{descripcion}}</div>
                    <div class="burger-header__precio">{{precio}}</div>

                </div>
            </div>
       
            <div class="burger-stats">
                <div class="burger-stats___estrella burger-stats__icono">
                    <img src="/images/estrella.svg" alt=""> {{estrellas}}
                </div>
                <div class="burger-stats___fuego burger-stats__icono">
                    <img src="/images/fuego.svg" alt="">
                    {{calorias}}
                </div>
                <div class="burger-stats__reloj burger-stats__icono">
                    <img src="/images/reloj.svg" alt="">
                    {{tiempo}}
                </div>
            </div>
            <div class="burger-texto">
                <div class="burger-texto__descripcion"> {{texto}}
                    <span style="color: #F64444;">...Leer mas</span>
                </div>
            </div>

            <div class="btn-carrito">
                <div class="btn-carrito__texto">Agregar al carrito</div>
            </div>



        </div>

      
 

   