<div>
    <form action="#">
        <div class="user-container__datos mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample1" value="{{name.first}} {{name.last}}">
            <label class="mdl-textfield__label" for="sample1"> Nombre</label>
        </div>
    </form>
</div>
<div>
    <form action="#">
        <div class="user-container__datos mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample1" value="{{registered.age}}">
            <label class="mdl-textfield__label" for="sample1">Edad:</label>
        </div>
    </form>

</div>
<div>
    <form action="#">
        <div class="user-container__datos mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample1"
                value="{{location.street.name}} {{location.street.number}}  {{location.city}}, {{location.state}}">
            <label class="mdl-textfield__label" for="sample1">Direccion </label>
        </div>
    </form>
</div>
<div>
    <form action="#">
        <div class="user-container__datos  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample1" value="{{email}}">
            <label class="mdl-textfield__label" for="sample1">E-mail</label>
        </div>
    </form>

</div>
<div>
    <form action="#">
        <div class="user-container__datos  mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="sample1" value="{{phone}}">
            <label class="mdl-textfield__label" for="sample1">Numero Contacto</label>
        </div>
    </form>

</div>